<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @task) do |f| %>
        <div class="mb-3">
        </div>

      <% end %>
    </aside>
    <div class="col-sm-8">
     
    </div>
  </div>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
  <% end %>
</ul>
<%= link_to '新規タスクの投稿', new_task_path %>
<% else %>






<div class="bg-secondary p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h1>Welcome to the Tasklists</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

